.footer__menu {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 18px -webkit-min-content 18px -webkit-min-content 18px -webkit-min-content 18px -webkit-min-content;
  -ms-grid-columns: min-content 18px min-content 18px min-content 18px min-content 18px min-content;
  grid-template-columns: repeat(5, -webkit-min-content);
  grid-template-columns: repeat(5, min-content);
  grid-column-gap: 18px;
  justify-items: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: 0 auto 24px;
  padding: 0;
}

@media (max-width:560px) {
.footer__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, -webkit-min-content);
  grid-template-rows: repeat(auto-fit, min-content);
  grid-row-gap: 32px;
  margin: 0 auto 48px;
}
}

@media (max-width:320px) {
.footer__menu {
  grid-template-rows: repeat(5, -webkit-min-content);
  grid-template-rows: repeat(5, min-content);
}