.photo-grid__item {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
}

@media (max-width:319px) {
    .photo-grid__item {
        max-width: 100vw;
    }
}