.header__link {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 18px auto;
    grid-template-columns: 30px 29px;
    grid-template-rows: 28px;
    -webkit-column-gap: 18px;
       -moz-column-gap: 18px;
            column-gap: 18px;
    list-style: none;
    padding: 0;
    margin: 18px 0 0;
}

@media (max-width: 767px) {
    .header__link {
        grid-template-columns: 3.9vw 3.8vw;
        grid-template-rows: 3.6vw;
        margin: 2.3vw 0 0;
    }
}

@media (max-width: 320px) {
    .header__link {
        grid-template-columns: repeat(2, 22px);
        grid-template-rows: 20px;
        margin: 14px 0 0;
    }
}
